<form [formGroup]="loginForm" (ngSubmit)="onSumit()">
<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
    
          <h4 class="text-center m-b-25 f-20 f-w-500">Inicia sección con tu Email </h4>
          <div class="text-start">
            <label for="name" class="f-w-500">Entra tu Email</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input matInput  required  placeholder="contraseña" formControlName="email" />
             
     
            </mat-form-field>
            <label for="name" class="f-w-500">Entra tu clave</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="check-me">
            <mat-checkbox class="float-start" checked color="primary">Recuerda me?</mat-checkbox>
            <a class="f-w-400 f-14 text-primary-500 m-b-0" href="javascript:">Olvide mi contraseña </a>
          </div>
          <div class="grid">
            <button mat-flat-button color="primary" type="submit" class="b-rad-20 m-t-15">Login</button>
          </div>
          <div class="check-me m-t-20">
            <h6 class="f-w-400 text-muted m-b-0">No tienes una cuenta?</h6>
            <a [routerLink]="['/auth/register']" class="text-primary-500">Crear una cuenta</a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
